<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Info</title>
</head>
<body>
    <h1>Registration Information</h1>
    <table border>
        <tr>
            <th>Info</th>
            <th>Data</th>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{ username }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ email }}</td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td>{{ mobile }}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>{{ password }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ address }}</td>
        </tr>
    </table>
</body>
</html>